In [1]:
import pandas as pd
import os
import re

In [20]:
df = pd.read_csv('D:/abstract/wos_0531/bib_360446/country_statistic.csv', engine='python')

In [21]:
df = df[:15]

In [22]:
del df['dir']

In [23]:
df

,Country,P,P%,C,CPP,IP,IP%,ICPP,CP,CP%,CCPP,FP,FP%,MC,MCP,MCP%
0,USA,113096,31.978827,4110359.0,36.343982,60849.0,0.238948,33.886736,52247.0,0.771294,39.205792,76362.0,0.675196,Peoples R China,8696.0,0.076890
1,CHINA,56320,15.924945,790522.0,14.036257,36927.0,0.145009,9.743683,19393.0,0.512590,22.209921,50749.0,0.901083,USA,8690.0,0.154297
2,UK,33571,9.492477,1301358.0,38.764350,10787.0,0.042359,32.769445,22784.0,0.180082,41.602616,17829.0,0.531083,USA,6570.0,0.195705
3,GERMANY,23982,6.781108,874399.0,36.460637,7297.0,0.028655,27.551185,16685.0,0.129044,40.357087,12776.0,0.532733,USA,4389.0,0.183012
4,FRANCE,23601,6.673377,825490.0,34.976908,7234.0,0.028407,27.295272,16367.0,0.124822,38.372090,12358.0,0.523622,USA,4292.0,0.181857
5,CANADA,20771,5.873172,691561.0,33.294545,7861.0,0.030869,23.969851,12910.0,0.115146,38.972424,11400.0,0.548842,USA,5051.0,0.243176
6,AUSTRALIA,20434,5.777882,702964.0,34.401683,8159.0,0.032040,28.114475,12275.0,0.120156,38.580692,11896.0,0.582167,USA,3763.0,0.184154
7,JAPAN,16361,4.626208,414318.0,25.323513,8515.0,0.033438,16.330358,7846.0,0.110934,35.083482,10983.0,0.671291,USA,2400.0,0.146690
8,RUSSIA,15654,4.426298,158686.0,10.137090,10718.0,0.042088,3.834671,4936.0,0.124792,23.822123,12355.0,0.789255,USA,1030.0,0.065798
9,ITALY,14159,4.003574,375066.0,26.489583,6114.0,0.024009,18.723095,8045.0,0.091571,32.391920,9066.0,0.640299,USA,2095.0,0.147962
10,SPAIN,13077,3.697630,382431.0,29.244552,4869.0,0.019120,22.854590,8208.0,0.082895,33.035088,8207.0,0.627590,USA,1877.0,0.143534
11,INDIA,13026,3.683209,185246.0,14.221250,9409.0,0.036948,11.238070,3617.0,0.109611,21.981476,10852.0,0.833103,USA,900.0,0.069093
12,NETHERLAND,10395,2.939272,404900.0,38.951419,2828.0,0.011105,31.761669,7567.0,0.051159,41.638430,5065.0,0.487253,USA,1715.0,0.164983
13,NORWAY,9482,2.681114,294406.0,31.048935,2968.0,0.011655,22.366240,6514.0,0.050098,35.005066,4960.0,0.523096,USA,1656.0,0.174647
14,SOUTHKOREA,7544,2.133128,146369.0,19.402041,4175.0,0.016395,10.255808,3369.0,0.057815,30.736420,5724.0,0.758749,USA,1553.0,0.205859

In [24]:
for i in range(15):
    df.loc[i,'IP%'] = df.loc[i,'IP']/df.loc[i,'P']
    df.loc[i,'CP%'] = df.loc[i,'CP']/df.loc[i,'P']

In [25]:
df

,Country,P,P%,C,CPP,IP,IP%,ICPP,CP,CP%,CCPP,FP,FP%,MC,MCP,MCP%
0,USA,113096,31.978827,4110359.0,36.343982,60849.0,0.538030,33.886736,52247.0,0.461970,39.205792,76362.0,0.675196,Peoples R China,8696.0,0.076890
1,CHINA,56320,15.924945,790522.0,14.036257,36927.0,0.655664,9.743683,19393.0,0.344336,22.209921,50749.0,0.901083,USA,8690.0,0.154297
2,UK,33571,9.492477,1301358.0,38.764350,10787.0,0.321319,32.769445,22784.0,0.678681,41.602616,17829.0,0.531083,USA,6570.0,0.195705
3,GERMANY,23982,6.781108,874399.0,36.460637,7297.0,0.304270,27.551185,16685.0,0.695730,40.357087,12776.0,0.532733,USA,4389.0,0.183012
4,FRANCE,23601,6.673377,825490.0,34.976908,7234.0,0.306512,27.295272,16367.0,0.693488,38.372090,12358.0,0.523622,USA,4292.0,0.181857
5,CANADA,20771,5.873172,691561.0,33.294545,7861.0,0.378460,23.969851,12910.0,0.621540,38.972424,11400.0,0.548842,USA,5051.0,0.243176
6,AUSTRALIA,20434,5.777882,702964.0,34.401683,8159.0,0.399286,28.114475,12275.0,0.600714,38.580692,11896.0,0.582167,USA,3763.0,0.184154
7,JAPAN,16361,4.626208,414318.0,25.323513,8515.0,0.520445,16.330358,7846.0,0.479555,35.083482,10983.0,0.671291,USA,2400.0,0.146690
8,RUSSIA,15654,4.426298,158686.0,10.137090,10718.0,0.684681,3.834671,4936.0,0.315319,23.822123,12355.0,0.789255,USA,1030.0,0.065798
9,ITALY,14159,4.003574,375066.0,26.489583,6114.0,0.431810,18.723095,8045.0,0.568190,32.391920,9066.0,0.640299,USA,2095.0,0.147962
10,SPAIN,13077,3.697630,382431.0,29.244552,4869.0,0.372333,22.854590,8208.0,0.627667,33.035088,8207.0,0.627590,USA,1877.0,0.143534
11,INDIA,13026,3.683209,185246.0,14.221250,9409.0,0.722325,11.238070,3617.0,0.277675,21.981476,10852.0,0.833103,USA,900.0,0.069093
12,NETHERLAND,10395,2.939272,404900.0,38.951419,2828.0,0.272054,31.761669,7567.0,0.727946,41.638430,5065.0,0.487253,USA,1715.0,0.164983
13,NORWAY,9482,2.681114,294406.0,31.048935,2968.0,0.313014,22.366240,6514.0,0.686986,35.005066,4960.0,0.523096,USA,1656.0,0.174647
14,SOUTHKOREA,7544,2.133128,146369.0,19.402041,4175.0,0.553420,10.255808,3369.0,0.446580,30.736420,5724.0,0.758749,USA,1553.0,0.205859

In [26]:
df['C']=df['C'].astype(int)
df['IP']=df['IP'].astype(int)
df['CP']=df['CP'].astype(int)
df['FP']=df['FP'].astype(int)
df['MCP']=df['MCP'].astype(int)

In [27]:
df['IP%']=df['IP%']*100
df['CP%']=df['CP%']*100
df['FP%']=df['FP%']*100
df['MCP%']=df['MCP%']*100

In [28]:
df

,Country,P,P%,C,CPP,IP,IP%,ICPP,CP,CP%,CCPP,FP,FP%,MC,MCP,MCP%
0,USA,113096,31.978827,4110359,36.343982,60849,53.802964,33.886736,52247,46.197036,39.205792,76362,67.519629,Peoples R China,8696,7.689043
1,CHINA,56320,15.924945,790522,14.036257,36927,65.566406,9.743683,19393,34.433594,22.209921,50749,90.108310,USA,8690,15.429688
2,UK,33571,9.492477,1301358,38.764350,10787,32.131900,32.769445,22784,67.868100,41.602616,17829,53.108338,USA,6570,19.570463
3,GERMANY,23982,6.781108,874399,36.460637,7297,30.426987,27.551185,16685,69.573013,40.357087,12776,53.273288,USA,4389,18.301226
4,FRANCE,23601,6.673377,825490,34.976908,7234,30.651244,27.295272,16367,69.348756,38.372090,12358,52.362188,USA,4292,18.185670
5,CANADA,20771,5.873172,691561,33.294545,7861,37.846035,23.969851,12910,62.153965,38.972424,11400,54.884214,USA,5051,24.317558
6,AUSTRALIA,20434,5.777882,702964,34.401683,8159,39.928550,28.114475,12275,60.071450,38.580692,11896,58.216698,USA,3763,18.415386
7,JAPAN,16361,4.626208,414318,25.323513,8515,52.044496,16.330358,7846,47.955504,35.083482,10983,67.129149,USA,2400,14.669030
8,RUSSIA,15654,4.426298,158686,10.137090,10718,68.468123,3.834671,4936,31.531877,23.822123,12355,78.925514,USA,1030,6.579788
9,ITALY,14159,4.003574,375066,26.489583,6114,43.181016,18.723095,8045,56.818984,32.391920,9066,64.029946,USA,2095,14.796243
10,SPAIN,13077,3.697630,382431,29.244552,4869,37.233310,22.854590,8208,62.766690,33.035088,8207,62.759043,USA,1877,14.353445
11,INDIA,13026,3.683209,185246,14.221250,9409,72.232458,11.238070,3617,27.767542,21.981476,10852,83.310302,USA,900,6.909258
12,NETHERLAND,10395,2.939272,404900,38.951419,2828,27.205387,31.761669,7567,72.794613,41.638430,5065,48.725349,USA,1715,16.498316
13,NORWAY,9482,2.681114,294406,31.048935,2968,31.301413,22.366240,6514,68.698587,35.005066,4960,52.309639,USA,1656,17.464670
14,SOUTHKOREA,7544,2.133128,146369,19.402041,4175,55.341994,10.255808,3369,44.658006,30.736420,5724,75.874867,USA,1553,20.585896

In [29]:
df['P%']=df['P%'].round(decimals=2)
df['CPP']=df['CPP'].round(decimals=2)
df['IP%']=df['IP%'].round(decimals=2)
df['ICPP']=df['ICPP'].round(decimals=2)
df['CP%']=df['CP%'].round(decimals=2)
df['CCPP']=df['CCPP'].round(decimals=2)
df['FP%']=df['FP%'].round(decimals=2)
df['MCP%']=df['MCP%'].round(decimals=2)

In [31]:
df.loc[0,'MC']='CHINA'
df.columns=['Country','P','P%','C','CPP','IP','IP%','CPIP','CP','CP%','CPCP','FP','FP%','MC','MCP','MCP%']

In [32]:
df

,Country,P,P%,C,CPP,IP,IP%,CPIP,CP,CP%,CPCP,FP,FP%,MC,MCP,MCP%
0,USA,113096,31.98,4110359,36.34,60849,53.80,33.89,52247,46.20,39.21,76362,67.52,CHINA,8696,7.69
1,CHINA,56320,15.92,790522,14.04,36927,65.57,9.74,19393,34.43,22.21,50749,90.11,USA,8690,15.43
2,UK,33571,9.49,1301358,38.76,10787,32.13,32.77,22784,67.87,41.60,17829,53.11,USA,6570,19.57
3,GERMANY,23982,6.78,874399,36.46,7297,30.43,27.55,16685,69.57,40.36,12776,53.27,USA,4389,18.30
4,FRANCE,23601,6.67,825490,34.98,7234,30.65,27.30,16367,69.35,38.37,12358,52.36,USA,4292,18.19
5,CANADA,20771,5.87,691561,33.29,7861,37.85,23.97,12910,62.15,38.97,11400,54.88,USA,5051,24.32
6,AUSTRALIA,20434,5.78,702964,34.40,8159,39.93,28.11,12275,60.07,38.58,11896,58.22,USA,3763,18.42
7,JAPAN,16361,4.63,414318,25.32,8515,52.04,16.33,7846,47.96,35.08,10983,67.13,USA,2400,14.67
8,RUSSIA,15654,4.43,158686,10.14,10718,68.47,3.83,4936,31.53,23.82,12355,78.93,USA,1030,6.58
9,ITALY,14159,4.00,375066,26.49,6114,43.18,18.72,8045,56.82,32.39,9066,64.03,USA,2095,14.80
10,SPAIN,13077,3.70,382431,29.24,4869,37.23,22.85,8208,62.77,33.04,8207,62.76,USA,1877,14.35
11,INDIA,13026,3.68,185246,14.22,9409,72.23,11.24,3617,27.77,21.98,10852,83.31,USA,900,6.91
12,NETHERLAND,10395,2.94,404900,38.95,2828,27.21,31.76,7567,72.79,41.64,5065,48.73,USA,1715,16.50
13,NORWAY,9482,2.68,294406,31.05,2968,31.30,22.37,6514,68.70,35.01,4960,52.31,USA,1656,17.46
14,SOUTHKOREA,7544,2.13,146369,19.40,4175,55.34,10.26,3369,44.66,30.74,5724,75.87,USA,1553,20.59

In [33]:
df.to_csv('D:/abstract/wos_0531/bib_360446/country_statistic_15.csv',index=False)

In [34]:
df = pd.read_csv('D:/abstract/wos_0531/bib_360446/institution_statistic.csv', engine='python')

In [35]:
df

,Institution,Country,P,P%,C,CPP,IP,CIP,CP,CCP,FP,FP%
0,Chinese Acad Sci,China,14819,4.190195,276767,18.676496,2046,15.582600,12773,19.172082,9294,62.716783
1,Russian Acad Sci,Russia,8526,2.410797,74328,8.717804,4716,4.329092,3810,14.150131,6840,80.225194
2,NOAA,USA,7231,2.044625,346103,47.863781,1554,33.189833,5677,51.880571,3237,44.765593
3,Woods Hole Oceanog Inst,USA,5303,1.499467,235853,44.475391,1105,31.123982,4198,47.989757,2406,45.370545
4,Univ Washington,USA,5068,1.433019,256010,50.514996,1139,43.615452,3929,52.515144,2413,47.612470
5,Ocean Univ China,China,4794,1.355543,61938,12.919900,1013,8.363277,3781,14.140704,3416,71.255736
6,Univ Chinese Acad Sci,China,4397,1.243288,50480,11.480555,15,8.200000,4382,11.491785,91,2.069593
7,Univ Calif San Diego,USA,3886,1.098799,179473,46.184508,995,37.227136,2891,49.267382,2046,52.650540
8,US Geol Survey,USA,3353,0.948088,146080,43.566955,630,41.496825,2723,44.045905,1543,46.018491
9,Univ Tokyo,Japan,3216,0.909351,96067,29.871580,587,21.161840,2629,31.816280,1545,48.041045
10,Oregon State Univ,USA,3062,0.865806,147135,48.051927,578,45.737024,2484,48.590580,1445,47.191378
11,NASA,USA,3055,0.863826,158742,51.961375,545,35.073394,2510,55.628287,1284,42.029460
12,Columbia Univ,USA,2725,0.770516,148515,54.500917,385,53.618182,2340,54.646154,1072,39.339450
13,USN,USA,2705,0.764861,76736,28.368207,1351,12.923760,1354,43.778434,1919,70.942699
14,Texas A&M Univ,USA,2587,0.731496,81719,31.588326,534,23.953184,2053,33.574282,1140,44.066486
15,Univ Miami,USA,2563,0.724709,113707,44.364807,549,33.229508,2014,47.400199,1303,50.838861
16,CALTECH,USA,2560,0.723861,111576,43.584375,527,28.745731,2033,47.430890,1166,45.546875
17,IFREMER,France,2530,0.715378,89231,35.269170,454,26.685022,2076,37.146435,1079,42.648221
18,Univ Colorado,USA,2516,0.711420,138276,54.958665,416,39.990385,2100,57.923810,1098,43.640700
19,CSIC,Spain,2506,0.708592,96675,38.577414,423,37.255319,2083,38.845895,1247,49.760575

In [36]:
df['P%']=df['P%'].round(decimals=2)
df['CPP']=df['CPP'].round(decimals=2)
df['CIP']=df['CIP'].round(decimals=2)
df['CCP']=df['CCP'].round(decimals=2)
df['FP%']=df['FP%'].round(decimals=2)

In [37]:
df

,Institution,Country,P,P%,C,CPP,IP,CIP,CP,CCP,FP,FP%
0,Chinese Acad Sci,China,14819,4.19,276767,18.68,2046,15.58,12773,19.17,9294,62.72
1,Russian Acad Sci,Russia,8526,2.41,74328,8.72,4716,4.33,3810,14.15,6840,80.23
2,NOAA,USA,7231,2.04,346103,47.86,1554,33.19,5677,51.88,3237,44.77
3,Woods Hole Oceanog Inst,USA,5303,1.50,235853,44.48,1105,31.12,4198,47.99,2406,45.37
4,Univ Washington,USA,5068,1.43,256010,50.51,1139,43.62,3929,52.52,2413,47.61
5,Ocean Univ China,China,4794,1.36,61938,12.92,1013,8.36,3781,14.14,3416,71.26
6,Univ Chinese Acad Sci,China,4397,1.24,50480,11.48,15,8.20,4382,11.49,91,2.07
7,Univ Calif San Diego,USA,3886,1.10,179473,46.18,995,37.23,2891,49.27,2046,52.65
8,US Geol Survey,USA,3353,0.95,146080,43.57,630,41.50,2723,44.05,1543,46.02
9,Univ Tokyo,Japan,3216,0.91,96067,29.87,587,21.16,2629,31.82,1545,48.04
10,Oregon State Univ,USA,3062,0.87,147135,48.05,578,45.74,2484,48.59,1445,47.19
11,NASA,USA,3055,0.86,158742,51.96,545,35.07,2510,55.63,1284,42.03
12,Columbia Univ,USA,2725,0.77,148515,54.50,385,53.62,2340,54.65,1072,39.34
13,USN,USA,2705,0.76,76736,28.37,1351,12.92,1354,43.78,1919,70.94
14,Texas A&M Univ,USA,2587,0.73,81719,31.59,534,23.95,2053,33.57,1140,44.07
15,Univ Miami,USA,2563,0.72,113707,44.36,549,33.23,2014,47.40,1303,50.84
16,CALTECH,USA,2560,0.72,111576,43.58,527,28.75,2033,47.43,1166,45.55
17,IFREMER,France,2530,0.72,89231,35.27,454,26.69,2076,37.15,1079,42.65
18,Univ Colorado,USA,2516,0.71,138276,54.96,416,39.99,2100,57.92,1098,43.64
19,CSIC,Spain,2506,0.71,96675,38.58,423,37.26,2083,38.85,1247,49.76

In [38]:
df.columns=['Institution','Country','P','P%','C','CPP','IP','CPIP','CP','CPCP','FP','FP%']

In [39]:
df

,Institution,Country,P,P%,C,CPP,IP,CPIP,CP,CPCP,FP,FP%
0,Chinese Acad Sci,China,14819,4.19,276767,18.68,2046,15.58,12773,19.17,9294,62.72
1,Russian Acad Sci,Russia,8526,2.41,74328,8.72,4716,4.33,3810,14.15,6840,80.23
2,NOAA,USA,7231,2.04,346103,47.86,1554,33.19,5677,51.88,3237,44.77
3,Woods Hole Oceanog Inst,USA,5303,1.50,235853,44.48,1105,31.12,4198,47.99,2406,45.37
4,Univ Washington,USA,5068,1.43,256010,50.51,1139,43.62,3929,52.52,2413,47.61
5,Ocean Univ China,China,4794,1.36,61938,12.92,1013,8.36,3781,14.14,3416,71.26
6,Univ Chinese Acad Sci,China,4397,1.24,50480,11.48,15,8.20,4382,11.49,91,2.07
7,Univ Calif San Diego,USA,3886,1.10,179473,46.18,995,37.23,2891,49.27,2046,52.65
8,US Geol Survey,USA,3353,0.95,146080,43.57,630,41.50,2723,44.05,1543,46.02
9,Univ Tokyo,Japan,3216,0.91,96067,29.87,587,21.16,2629,31.82,1545,48.04
10,Oregon State Univ,USA,3062,0.87,147135,48.05,578,45.74,2484,48.59,1445,47.19
11,NASA,USA,3055,0.86,158742,51.96,545,35.07,2510,55.63,1284,42.03
12,Columbia Univ,USA,2725,0.77,148515,54.50,385,53.62,2340,54.65,1072,39.34
13,USN,USA,2705,0.76,76736,28.37,1351,12.92,1354,43.78,1919,70.94
14,Texas A&M Univ,USA,2587,0.73,81719,31.59,534,23.95,2053,33.57,1140,44.07
15,Univ Miami,USA,2563,0.72,113707,44.36,549,33.23,2014,47.40,1303,50.84
16,CALTECH,USA,2560,0.72,111576,43.58,527,28.75,2033,47.43,1166,45.55
17,IFREMER,France,2530,0.72,89231,35.27,454,26.69,2076,37.15,1079,42.65
18,Univ Colorado,USA,2516,0.71,138276,54.96,416,39.99,2100,57.92,1098,43.64
19,CSIC,Spain,2506,0.71,96675,38.58,423,37.26,2083,38.85,1247,49.76

In [40]:
df.to_csv('D:/abstract/wos_0531/bib_360446/institution_statistic_new.csv',index=False)

In [41]:
df = pd.read_csv('D:/abstract/wos_0531/bib_360446/journal_statistic.csv', engine='python')

In [42]:
df

,Journal,P,P%,C,CPP,IF
0,MARINE ECOLOGY PROGRESS SERIES,14168,4.006119,607108,42.850649,3.090
1,JOURNAL OF GEOPHYSICAL RESEARCH-OCEANS,11901,3.365106,468775,39.389547,3.820
2,OCEAN ENGINEERING,9379,2.651990,145104,15.471159,3.985
3,GEOPHYSICAL RESEARCH LETTERS,8570,2.423238,360511,42.066628,5.265
4,ESTUARINE COASTAL AND SHELF SCIENCE,7498,2.120121,219566,29.283276,3.329
5,LIMNOLOGY AND OCEANOGRAPHY,6209,1.755646,383848,61.821227,5.203
6,WATER,5859,1.656681,46382,7.916368,3.229
7,ICES JOURNAL OF MARINE SCIENCE,5402,1.527460,156361,28.945020,4.037
8,JOURNAL OF PHYSICAL OCEANOGRAPHY,5402,1.527460,201911,37.377083,3.676
9,HYDROLOGICAL PROCESSES,5095,1.440653,168938,33.157605,4.129
10,MARINE GEOLOGY,4830,1.365722,179488,37.161077,4.035
11,DEEP-SEA RESEARCH PART II-TOPICAL STUDIES IN O...,4828,1.365157,188812,39.107705,3.419
12,JOURNAL OF CLIMATE,4550,1.286550,322066,70.783736,6.582
13,CONTINENTAL SHELF RESEARCH,4401,1.244419,130303,29.607589,2.879
14,OCEAN & COASTAL MANAGEMENT,3947,1.116047,71159,18.028629,3.663
15,MARINE AND FRESHWATER RESEARCH,3584,1.013406,77048,21.497768,2.162
16,CLIMATE DYNAMICS,3531,0.998419,122181,34.602379,4.709
17,DEEP-SEA RESEARCH PART I-OCEANOGRAPHIC RESEARC...,3494,0.987957,138339,39.593303,3.448
18,JOURNAL OF PLANKTON RESEARCH,3470,0.981171,105250,30.331412,2.776
19,JOURNAL OF MARINE SYSTEMS,3320,0.938757,96585,29.091867,3.136

In [43]:
df['P%']=df['P%'].round(decimals=2)
df['CPP']=df['CPP'].round(decimals=2)

In [44]:
df

,Journal,P,P%,C,CPP,IF
0,MARINE ECOLOGY PROGRESS SERIES,14168,4.01,607108,42.85,3.090
1,JOURNAL OF GEOPHYSICAL RESEARCH-OCEANS,11901,3.37,468775,39.39,3.820
2,OCEAN ENGINEERING,9379,2.65,145104,15.47,3.985
3,GEOPHYSICAL RESEARCH LETTERS,8570,2.42,360511,42.07,5.265
4,ESTUARINE COASTAL AND SHELF SCIENCE,7498,2.12,219566,29.28,3.329
5,LIMNOLOGY AND OCEANOGRAPHY,6209,1.76,383848,61.82,5.203
6,WATER,5859,1.66,46382,7.92,3.229
7,ICES JOURNAL OF MARINE SCIENCE,5402,1.53,156361,28.95,4.037
8,JOURNAL OF PHYSICAL OCEANOGRAPHY,5402,1.53,201911,37.38,3.676
9,HYDROLOGICAL PROCESSES,5095,1.44,168938,33.16,4.129
10,MARINE GEOLOGY,4830,1.37,179488,37.16,4.035
11,DEEP-SEA RESEARCH PART II-TOPICAL STUDIES IN O...,4828,1.37,188812,39.11,3.419
12,JOURNAL OF CLIMATE,4550,1.29,322066,70.78,6.582
13,CONTINENTAL SHELF RESEARCH,4401,1.24,130303,29.61,2.879
14,OCEAN & COASTAL MANAGEMENT,3947,1.12,71159,18.03,3.663
15,MARINE AND FRESHWATER RESEARCH,3584,1.01,77048,21.50,2.162
16,CLIMATE DYNAMICS,3531,1.00,122181,34.60,4.709
17,DEEP-SEA RESEARCH PART I-OCEANOGRAPHIC RESEARC...,3494,0.99,138339,39.59,3.448
18,JOURNAL OF PLANKTON RESEARCH,3470,0.98,105250,30.33,2.776
19,JOURNAL OF MARINE SYSTEMS,3320,0.94,96585,29.09,3.136

In [45]:
df.to_csv('D:/abstract/wos_0531/bib_360446/journal_statistic_new.csv',index=False)