In [1]:
import pandas as pd 
import numpy as np 
from bertopic import BERTopic 
import os
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer
import joblib
from sklearn.manifold import TSNE
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_topic_growth_top10 = pd.read_csv('D:/abstract/wos_0531/bib_360446/topic_growth_top10.csv')

In [3]:
df_topic_growth_top10

   0  1  2  3  4  5  6  7  8  9  ...  90  91  92  93  94  95  96  97  98  99
0  0  1  0  1  0  1  1  0  0  1  ...   0   0   0   0   0   0   0   0   0   0
1  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   1
2  0  0  0  0  0  0  0  1  0  0  ...   1   0   0   0   0   0   0   0   1   0

[3 rows x 100 columns]

In [5]:
df_label = pd.read_csv('D:/abstract/wos_0531/bib_360446/unique_multilabel_withlabel.csv', engine='python')

In [6]:
df_label

,Abstract,topic,Research Areas,label,index
0,This paper presents an updated checklist of ma...,13,Marine & Freshwater Biology; Oceanography,Marine & Freshwater Biology,3
1,Small time behavior of gravity driven free sur...,16,Engineering; Oceanography,Engineering,2
2,This Collective Article includes records of 29...,13,Fisheries; Geology; Marine & Freshwater Biolog...,Marine & Freshwater Biology,3
3,This Collective Article presents information a...,13,Fisheries; Geology; Marine & Freshwater Biolog...,Marine & Freshwater Biology,3
4,The use of pesticides in agriculture has alway...,73,Engineering; Oceanography,Engineering,2
...,...,...,...,...,...
334760,The simplicity of the hydrochemical stationari...,40,Engineering; Geology; Water Resources,Water Resources,5
334761,In many smallholder farms in sub-Saharan Afric...,40,Geology; Meteorology & Atmospheric Sciences; W...,Water Resources,5
334762,In this study we tested whether we can use a t...,0,Environmental Sciences & Ecology; Remote Sensing,Geology,4
334763,A novel approach of using variability as a maj...,69,Meteorology & Atmospheric Sciences,Meteorology & Atmospheric Sciences,1
334764,The dominant climatic mode responsible for sea...,26,Meteorology & Atmospheric Sciences,Meteorology & Atmospheric Sciences,1

In [15]:
df = pd.read_csv('D:/abstract/wos_0531/bib_360446/dropna_abstract_334765.csv', engine='python')

In [16]:
year = list(df['Publication Year'])

In [19]:
import math
for i in range(len(year)):
    if math.isnan(year[i]):
        year[i]=2021
    else:
        year[i]=int(year[i])

In [20]:
len(year)

334765

In [21]:
rapid_growth_1 = np.zeros(334765)
rapid_growth_2 = np.zeros(334765)
rapid_growth_3 = np.zeros(334765)

In [11]:
topics = list(df_label.loc[:,'topic'])

In [28]:
for i in range(len(topics)):
    if df_topic_growth_top10.iloc[0,topics[i]]==1 and year[i]>=1992 and year[i]<=2001:
        rapid_growth_1[i] = 1
    if df_topic_growth_top10.iloc[1,topics[i]]==1 and year[i]>=2002 and year[i]<=2011:
        rapid_growth_2[i] = 1
    if df_topic_growth_top10.iloc[2,topics[i]]==1 and year[i]>=2012 and year[i]<=2021:
        rapid_growth_3[i] = 1

In [34]:
sum(rapid_growth_1)

14006.0

In [33]:
np.save('D:/abstract/wos_0531/bib_360446/rapid_growth_topic_firstdecade.npy',rapid_growth_1)
np.save('D:/abstract/wos_0531/bib_360446/rapid_growth_topic_seconddecade.npy',rapid_growth_2)
np.save('D:/abstract/wos_0531/bib_360446/rapid_growth_topic_thirddecade.npy',rapid_growth_3)