In [1]:
import pandas as pd 
import numpy as np 
from bertopic import BERTopic 
import os
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer
import joblib
from sklearn.manifold import TSNE
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df_dropna = pd.read_csv('D:/abstract/wos_0531/bib_360446/dropna_abstract_334765.csv', engine='python')

In [17]:
df_dropna

,Publication Type,Authors,Book Authors,Book Editors,Book Group Authors,Author Full Names,Book Author Full Names,Group Authors,Article Title,Source Title,...,IDS Number,Pubmed Id,Open Access Designations,Highly Cited Status,Hot Paper Status,Date of Export,UT (Unique WOS ID),First Country,Countries,If Independent
0,J,"Soldo, A; Bakiu, R",NaN,NaN,NaN,"Soldo, Alen; Bakiu, Rigers",NaN,NaN,Checklist of marine fishes of Albania,ACTA ADRIATICA,...,TP4BV,NaN,gold,NaN,NaN,2022-06-23,WOS:000677540600007,Croatia,"Croatia,Albania",False
1,J,"Fetahu, E; Yilmaz, O",NaN,NaN,NaN,"Fetahu, Elona; Yilmaz, Oguz",NaN,NaN,A three dimensional dam break flow: Small time...,APPLIED OCEAN RESEARCH,...,RY0GU,NaN,NaN,NaN,NaN,2022-06-23,WOS:000647593800003,Albania,"Turkey,Albania",False
2,J,"Crocetta, F; Al Mabruk, SAA; Azzurro, E; Bakiu...",NaN,NaN,NaN,"Crocetta, Fabio; Al Mabruk, Sara A. A.; Azzurr...",NaN,NaN,New Alien Mediterranean Biodiversity Records (...,MEDITERRANEAN MARINE SCIENCE,...,XC7YT,NaN,NaN,NaN,NaN,2022-06-23,WOS:000722226800002,Italy,"Turkey,Lebanon,Libya,Tunisia,Cyprus,Greece,Mal...",False
3,J,"Tsagarakis, K; Agius Darmanin, S; Al Mabruk, S...",NaN,NaN,NaN,"Tsagarakis, Konstantinos; Agius Darmanin, Sand...",NaN,NaN,New records of rare species in the Mediterrane...,MEDITERRANEAN MARINE SCIENCE,...,WU3QO,NaN,NaN,NaN,NaN,2022-06-23,WOS:000716463300014,Greece,"Turkey,Croatia,Lebanon,Israel,Libya,Cyprus,Gre...",False
4,J,"Pagano, M; Stara, A; Aliko, V; Faggio, C",NaN,NaN,NaN,"Pagano, Maria; Stara, Alzbeta; Aliko, Valbona;...",NaN,NaN,Impact of Neonicotinoids to Aquatic Invertebra...,JOURNAL OF MARINE SCIENCE AND ENGINEERING,...,OL4TS,NaN,gold,NaN,NaN,2022-06-23,WOS:000585335100001,Italy,"Italy,Albania,Czech Republic",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334760,J,"Gwenzi, W; Chinyama, SR; Togarepi, S",NaN,NaN,NaN,"Gwenzi, Willis; Chinyama, Shyleen R.; Togarepi...",NaN,NaN,Concentration-discharge patterns in a small ur...,JOURNAL OF HYDROLOGY,...,EZ6GI,NaN,NaN,NaN,NaN,2022-06-23,WOS:000404816000002,Zimbabwe,Zimbabwe,True
334761,J,"Wuta, M; Nyamadzawo, G; Mlambo, J; Nyamugafata, P",NaN,NaN,NaN,"Wuta, M.; Nyamadzawo, G.; Mlambo, J.; Nyamugaf...",NaN,NaN,Ground and surface water quality along a dambo...,PHYSICS AND CHEMISTRY OF THE EARTH,...,DW0QD,NaN,NaN,NaN,NaN,2022-06-23,WOS:000383345100015,Zimbabwe,Zimbabwe,True
334762,J,"Maguranyanga, C; Murwira, A; Sibanda, M",NaN,NaN,NaN,"Maguranyanga, Caleb; Murwira, Amon; Sibanda, M...",NaN,NaN,"Distinguishing Maize, Soyabean and Tobacco Fie...",JOURNAL OF THE INDIAN SOCIETY OF REMOTE SENSING,...,CD2FN,NaN,NaN,NaN,NaN,2022-06-23,WOS:000350890300009,Zimbabwe,Zimbabwe,True
334763,J,"Manatsa, D; Matarira, CH",NaN,NaN,NaN,"Manatsa, D.; Matarira, C. H.",NaN,NaN,Changing dependence of Zimbabwean rainfall var...,THEORETICAL AND APPLIED CLIMATOLOGY,...,489RI,NaN,NaN,NaN,NaN,2022-06-23,WOS:000269439300014,Zimbabwe,"Lesotho,Zimbabwe",False
334764,J,"Manatsa, D; Chingombe, W; Matsikwa, H; Matarir...",NaN,NaN,NaN,"Manatsa, D.; Chingombe, W.; Matsikwa, H.; Mata...",NaN,NaN,The superior influence of Darwin Sea level pre...,THEORETICAL AND APPLIED CLIMATOLOGY,...,274IV,NaN,NaN,NaN,NaN,2022-06-23,WOS:000253995900001,Zimbabwe,"Lesotho,Zimbabwe",False

In [2]:
df_label = pd.read_csv('D:/abstract/wos_0531/bib_360446/unique_multilabel_withlabel.csv', engine='python')

In [3]:
data_dir = 'D:/abstract/climate change/all_inter.csv'
df_inter = pd.read_csv(data_dir, engine='python')

In [4]:
df_label

,Abstract,topic,Research Areas,label,index
0,This paper presents an updated checklist of ma...,13,Marine & Freshwater Biology; Oceanography,Marine & Freshwater Biology,3
1,Small time behavior of gravity driven free sur...,16,Engineering; Oceanography,Engineering,2
2,This Collective Article includes records of 29...,13,Fisheries; Geology; Marine & Freshwater Biolog...,Marine & Freshwater Biology,3
3,This Collective Article presents information a...,13,Fisheries; Geology; Marine & Freshwater Biolog...,Marine & Freshwater Biology,3
4,The use of pesticides in agriculture has alway...,73,Engineering; Oceanography,Engineering,2
...,...,...,...,...,...
334760,The simplicity of the hydrochemical stationari...,40,Engineering; Geology; Water Resources,Water Resources,5
334761,In many smallholder farms in sub-Saharan Afric...,40,Geology; Meteorology & Atmospheric Sciences; W...,Water Resources,5
334762,In this study we tested whether we can use a t...,0,Environmental Sciences & Ecology; Remote Sensing,Geology,4
334763,A novel approach of using variability as a maj...,69,Meteorology & Atmospheric Sciences,Meteorology & Atmospheric Sciences,1
334764,The dominant climatic mode responsible for sea...,26,Meteorology & Atmospheric Sciences,Meteorology & Atmospheric Sciences,1

In [6]:
abstract = list(df_label['Abstract'])

In [12]:
indexes = list(df_label['index'])

In [19]:
df_label['UT (Unique WOS ID)']=df_dropna['UT (Unique WOS ID)']

In [20]:
ut = list(df_label['UT (Unique WOS ID)'])

In [5]:
df_inter

,Unnamed: 0.1,Unnamed: 0,Publication Type,Authors,Book Authors,Book Editors,Book Group Authors,Author Full Names,Book Author Full Names,Group Authors,...,Web of Science Index,Research Areas,IDS Number,Pubmed Id,Open Access Designations,Highly Cited Status,Hot Paper Status,Date of Export,UT (Unique WOS ID),Web of Science Record
0,0,15,J,"Seidov, D; Barron, E; Haupt, BJ",NaN,NaN,NaN,"Seidov, D; Barron, E; Haupt, BJ",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Physical Geography; Geology,514LB,NaN,NaN,NaN,NaN,2022-11-30,WOS:000173439700004,0
1,1,24,J,"Stephens, C; Levitus, S; Antonov, J; Boyer, TP",NaN,NaN,NaN,"Stephens, C; Levitus, S; Antonov, J; Boyer, TP",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Geology,476GF,NaN,NaN,NaN,NaN,2022-11-30,WOS:000171217300025,0
2,2,37,J,"Vink, A; Ruhlemann, C; Zonneveld, KAF; Mulitza...",NaN,NaN,NaN,"Vink, A; Ruhlemann, C; Zonneveld, KAF; Mulitza...",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Geology; Oceanography; Paleontology,473WW,NaN,Bronze,NaN,NaN,2022-11-30,WOS:000171072800004,0
3,3,39,J,"Wang, B; An, SI",NaN,NaN,NaN,"Wang, B; An, SI",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Geology,476GF,NaN,"Green Submitted, Bronze",NaN,NaN,2022-11-30,WOS:000171217300022,0
4,4,42,J,"Weber, ME; Mayer, LA; Hillaire-Marcel, C; Bilo...",NaN,NaN,NaN,"Weber, ME; Mayer, LA; Hillaire-Marcel, C; Bilo...",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Geology; Oceanography; Paleontology,473WW,NaN,NaN,NaN,NaN,2022-11-30,WOS:000171072800006,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52211,52211,471141,J,"Hare, JA; Manderson, JP; Nye, JA; Alexander, M...",NaN,NaN,NaN,"Hare, Jonathan A.; Manderson, John P.; Nye, Ja...",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Fisheries; Marine & Freshwater Biology; Oceano...,021IE,NaN,Bronze,NaN,NaN,2022-11-30,WOS:000309877700007,0
52212,52212,471158,J,"Hazeleger, W; Wang, X; Severijns, C; Stefanesc...",NaN,NaN,NaN,"Hazeleger, W.; Wang, X.; Severijns, C.; Stefan...",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Meteorology & Atmospheric Sciences,034JZ,NaN,NaN,NaN,NaN,2022-11-30,WOS:000310870200002,0
52213,52213,471180,J,"Hernandez-Miranda, E; Quinones, RA; Aedo, G; D...",NaN,NaN,NaN,"Hernandez-Miranda, Eduardo; Quinones, Renato A...",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Marine & Freshwater Biology; Oceanography,098ZE,NaN,"Green Submitted, gold, Green Published",NaN,NaN,2022-11-30,WOS:000315586800010,0
52214,52214,471193,J,"Hodson, DLR; Sutton, RT",NaN,NaN,NaN,"Hodson, Daniel L. R.; Sutton, Rowan T.",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Meteorology & Atmospheric Sciences,038VV,NaN,Green Accepted,NaN,NaN,2022-11-30,WOS:000311203100019,0
52215,52215,471228,J,"Irving, DB; Whetton, P; Moise, AF",NaN,NaN,NaN,"Irving, Damien B.; Whetton, Penny; Moise, Aure...",NaN,NaN,...,Science Citation Index Expanded (SCI-EXPANDED),Meteorology & Atmospheric Sciences; Oceanography,141TR,NaN,NaN,NaN,NaN,2022-11-30,WOS:000318749900003,0

In [35]:
labels = []
ut_inter = list(df_inter['UT (Unique WOS ID)'])
for i in range(52216):
    ab = ut_inter[i]
    label = indexes[ut.index(ab)]
    labels.append(label)

In [34]:
ut_inter

['WOS:000171217300025']

In [36]:
labels

[4,
 4,
 4,
 4,
 4,
 6,
 1,
 1,
 1,
 4,
 4,
 3,
 1,
 4,
 4,
 4,
 4,
 0,
 0,
 4,
 1,
 4,
 4,
 3,
 1,
 3,
 4,
 4,
 4,
 1,
 4,
 1,
 2,
 6,
 4,
 4,
 4,
 3,
 4,
 5,
 6,
 4,
 1,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 4,
 6,
 4,
 4,
 1,
 1,
 1,
 0,
 0,
 1,
 4,
 1,
 1,
 0,
 0,
 1,
 1,
 3,
 4,
 3,
 4,
 3,
 3,
 4,
 3,
 3,
 1,
 4,
 4,
 1,
 3,
 6,
 3,
 4,
 3,
 1,
 1,
 4,
 4,
 3,
 0,
 3,
 2,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 4,
 3,
 1,
 1,
 1,
 4,
 0,
 2,
 3,
 4,
 1,
 1,
 4,
 4,
 4,
 3,
 6,
 4,
 6,
 0,
 0,
 4,
 4,
 3,
 4,
 1,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 3,
 4,
 4,
 3,
 1,
 4,
 4,
 1,
 1,
 4,
 6,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 3,
 1,
 4,
 1,
 1,
 1,
 4,
 0,
 1,
 3,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 4,
 1,
 1,
 1,
 4,
 4,
 2,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 4,
 4,
 1,
 4,
 1,
 1,
 6,
 0,
 0,
 0,
 4,
 4,
 1,
 6,
 2,
 6,
 4,
 4,
 1,
 4,
 3,
 1,
 1,
 4,
 1,
 4,
 1,
 0,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 3,
 1,
 3,
 1,
 6,
 0,
 1,
 0,
 6,
 6,
 0,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 4,
 4,
 1,
 3,
 4,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 3,
 0,
 3,
 1,
 6,
 4,
 4,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 6,
 1,
 1,
 0,
 4,
 1,
 1,
 1,
 4,
 0,
 0,
 6,
 0,
 0,
 3,
 1,
 4,
 4,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 4,
 6,
 4,
 4,
 4,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 3,
 1,
 4,
 4,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 0,
 0,
 4,
 0,
 4,
 0,
 4,
 4,
 1,
 2,
 2,
 4,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 1,
 4,
 1,
 4,
 4,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 0,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 0,
 4,
 1,
 1,
 4,
 1,
 4,
 4,
 3,
 1,
 1,
 1,
 3,
 3,
 2,
 1,
 4,
 3,
 2,
 0,
 4,
 4,
 4,
 4,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 4,
 1,
 2,
 1,
 1,
 4,
 4,
 4,
 1,
 6,
 4,
 4,
 1,
 1,
 6,
 4,
 1,
 5,
 3,
 4,
 4,
 4,
 2,
 4,
 5,
 1,
 1,
 4,
 1,
 4,
 4,
 3,
 4,
 4,
 1,
 3,
 4,
 4,
 3,
 1,
 1,
 6,
 4,
 1,
 4,
 4,
 4,
 3,
 3,
 4,
 2,
 4,
 4,
 1,
 4,
 4,
 3,
 3,
 4,
 1,
 4,
 3,
 1,
 3,
 3,
 1,
 4,
 4,
 4,
 4,
 1,
 4,
 1,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 3,
 4,
 4,
 3,
 3,
 4,
 4,
 1,
 4,
 5,
 3,
 1,
 4,
 4,
 1,
 2,
 4,
 3,
 4,
 4,
 1,
 1,
 4,
 4,
 1,
 3,
 3,
 3,
 4,
 6,
 1,
 0,
 4,
 6,
 0,
 3,
 0,
 4,
 5,
 6,
 1,
 2,
 3,
 6,
 1,
 4,
 3,
 1,
 1,
 1,
 1,
 4,
 1,
 4,
 1,
 0,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 0,
 4,
 0,
 4,
 4,
 4,
 1,
 1,
 4,
 1,
 4,
 4,
 6,
 1,
 4,
 6,
 6,
 4,
 3,
 3,
 6,
 0,
 0,
 4,
 1,
 4,
 4,
 4,
 1,
 4,
 1,
 4,
 4,
 1,
 1,
 1,
 4,
 4,
 1,
 4,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 0,
 4,
 6,
 2,
 4,
 1,
 6,
 4,
 1,
 3,
 1,
 4,
 4,
 4,
 1,
 3,
 3,
 1,
 1,
 4,
 4,
 0,
 0,
 4,
 1,
 1,
 4,
 1,
 0,
 3,
 3,
 1,
 4,
 4,
 3,
 1,
 1,
 3,
 0,
 3,
 1,
 4,
 1,
 1,
 2,
 1,
 1,
 6,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 6,
 6,
 1,
 1,
 1,
 0,
 6,
 0,
 4,
 1,
 3,
 4,
 3,
 1,
 4,
 1,
 4,
 3,
 4,
 1,
 1,
 1,
 0,
 0,
 1,
 4,
 4,
 0,
 1,
 4,
 1,
 4,
 1,
 4,
 4,
 4,
 1,
 1,
 6,
 0,
 1,
 1,
 2,
 1,
 1,
 4,
 6,
 1,
 0,
 0,
 6,
 4,
 0,
 4,
 4,
 3,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 1,
 4,
 1,
 4,
 1,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 0,
 0,
 3,
 1,
 1,
 4,
 2,
 0,
 3,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 6,
 0,
 4,
 5,
 2,
 2,
 4,
 4,
 4,
 4,
 1,
 4,
 3,
 4,
 2,
 3,
 4,
 3,
 3,
 4,
 1,
 3,
 1,
 1,
 1,
 1,
 0,
 5,
 1,
 4,
 1,
 3,
 3,
 4,
 3,
 3,
 4,
 1,
 2,
 1,
 3,
 2,
 1,
 2,
 4,
 3,
 4,
 2,
 1,
 1,
 5,
 1,
 1,
 3,
 3,
 5,
 3,
 1,
 5,
 4,
 3,
 3,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 4,
 0,
 3,
 3,
 1,
 1,
 4,
 2,
 1,
 1,
 1,
 4,
 4,
 4,
 1,
 1,
 4,
 1,
 1,
 4,
 1,
 6,
 1,
 1,
 4,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 0,
 1,
 0,
 0,
 0,
 4,
 4,
 4,
 2,
 4,
 4,
 3,
 4,
 1,
 3,
 0,
 0,
 1,
 0,
 4,
 1,
 4,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 3,
 4,
 4,
 4,
 3,
 1,
 3,
 1,
 4,
 1,
 1,
 4,
 1,
 4,
 0,
 1,
 4,
 4,
 4,
 4,
 4,
 0,
 0,
 4,
 4,
 4,
 1,
 4,
 1,
 4,
 1,
 3,
 1,
 4,
 4,
 2,
 4,
 4,
 1,
 0,
 4,
 4,
 4,
 4,
 1,
 0,
 0,
 0,
 3,
 4,
 4,
 4,
 4,
 4,
 0,
 0,
 0,
 0,
 0,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 4,
 ...]

In [37]:
df_inter['label'] = labels

In [39]:
df_inter.to_csv('D:/abstract/climate change/all_inter_withlabel.csv', index=False)